<template>
  <div>
    <!-- <Button
      typeButton="button"
      :class="'btn btn-block primary-button center-button ml-10-p'"
      textButton="Ajouter une société"
      icon="plus-circle"
      :action="openModal('ADD-SOCIETE')"
    >
    </Button> -->
    <b-button
      class="btn btn-block btn-sm primary-button center-button ml-10-p"
      v-b-modal.ADD-SOCIETE
      style="float: right; margin-top: 12px"
    >
      <b-icon icon="plus-circle" class="icon-add"> </b-icon>
      Ajouter une société
    </b-button>
    <b-modal
      ref="ADD-SOCIETE"
      id="ADD-SOCIETE"
      :hide-header="true"
      :hide-footer="true"
      @hidden="hideModal('ADD-SOCIETE')"
      modal-class="cutsom-modal-bootstrap"
    >
      <div class="header mb-2">
        <div class="titleSetting">
          <div class="header-style"></div>
          Ajouter une société
        </div>
        <div>
          <i
            class="fas fa-solid fa-times"
            @click.prevent.stop="hideModal('ADD-SOCIETE')"
          ></i>
        </div>
      </div>
      <hr />
      <form @submit.prevent.stop="addSociete('ADD-SOCIETE')">
        <div v-for="(item, index) in inputs" :key="index" class="mb-3">
          <Input
            :labelText="item.labelText"
            :inputType="item.inputType"
            :inputValue="societe[item.inputValue]"
            :inputClass="'form-control'"
            @changeValue="changeValue(index, $event)"
          />
        </div>
        <Error :errors="errorSocietes" />
        <Loader :show="loading" color="#ffcb35">
          <template v-slot:body>
            <Button
              :typeButton="'submit'"
              :textButton="'Ajouter'"
              :btnClass="'btn btn-block primary-button center-button ml-10-p'"
            ></Button>
          </template>
        </Loader>
      </form>
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "AddSociete",
  data() {
    return {
      loading: false,
      societe: {
        siret: "",
        RaisonSocial: "",
      },
      inputs: [
        {
          labelText: "Siret",
          inputType: "text",
          inputValue: "siret",
        },
        {
          labelText: "Raison Social",
          inputType: "text",
          inputValue: "RaisonSocial",
        },
      ],
    };
  },
  computed: {
    ...mapGetters(["errorSocietes"]),
  },
  methods: {
    ...mapActions(["ajouterSociete", "resetError"]),
    changeValue(index, value) {
      this.societe[this.inputs[index].inputValue] = value;
    },
    openModal(ref) {
      if (this.$refs[ref]) {
        this.$refs[ref].show();
      }
    },
    resetData() {
      this.societe = {
        siret: "",
        RaisonSocial: "",
      };
    },
    hideModal(ref) {
      this.resetData();
      this.$refs[ref].hide();
    },
    async addSociete(ref) {
      this.resetError();
      this.loading = true;
      const response = await this.ajouterSociete(this.societe);
      if (response == true) {
        this.loading = false;
        this.hideModal(ref);
        this.$emit("reloadData");
      } else {
        this.loading = false;
      }
    },
  },
  components: {
    Button: () => import("@/components/Button.vue"),
    Input: () => import("@/components/Input.vue"),
    Error: () => import("@/components/Error.vue"),
    Loader: () => import("@/components/Loader.vue"),
  },
};
</script>
