<template>
  <div class="d-flex justify-content-center">
    <b-button
      class="btn btn-block btn-sm second-button center-button ml-10-p"
      style="float: right; margin-top: 12px"
      @click="handleFetchCompteur"
    >
      Historique
    </b-button>
    <b-modal
      :ref="'SELECTED-SOCIETE' + societe.id"
      :id="'SELECTED-SOCIETE' + societe.id"
      :hide-header="true"
      :hide-footer="true"
      @hidden="hideModal()"
      modal-class="cutsom-modal-bootstrap"
      size="lg"
    >
      <div class="header mb-2">
        <div class="titleSetting">
          <div class="header-style"></div>
          Historique de prix par société
        </div>
        <div>
          <i
            class="fas fa-solid fa-times"
            @click.prevent.stop="hideModal()"
          ></i>
        </div>
      </div>
      <hr />
      <form>
        <b-table
          show-empty
          id="my-table"
          class="custom-table-style"
          :items="historiqueS"
          :fields="fields"
          bordered
          sticky-header
          responsive
          head-variant="light"
          empty-text="Il n'y a aucun enregistrement à afficher"
        ></b-table>

        <Error :errors="errorHistoriqueS" />
      </form>
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "listCompteur",
  data() {
    return {
      loading: false,
      SellectedSociete: this.societe.siret,
      fields: [
        {
          key: "siret",
          label: "Siret",
        },
        {
          key: "dateDebut",
          label: "Date Début",
        },
        {
          key: "dateFin",
          label: "Date Fin",
        },
        {
          key: "numCompteur",
          label: "Numéro Compteur",
        },
        {
          key: "Montant",
          label: "Montant",
        },
      ],
    };
  },
  props: { societe: { required: true } },
  computed: {
    ...mapGetters(["errorHistoriqueS", "historiqueS"]),
  },
  methods: {
    ...mapActions([
      "resetErrorHistoriqueS",
      "getHistoriqueDeCalculeParSociete",
    ]),
    openModal(ref) {
      if (this.$refs[ref]) {
        this.$refs[ref].show();
      }
    },
    resetData() {
      this.SellectedSociete = null;
      this.resetErrorHistoriqueS();
    },
    hideModal() {
      this.$refs["SELECTED-SOCIETE" + this.societe.id].hide();
      this.resetData();
    },

    async FetchData() {
      this.loading = true;
      await this.getHistoriqueDeCalculeParSociete(this.SellectedSociete);
      this.loading = false;
    },
    handleFetchCompteur() {
      this.SellectedSociete = this.societe.siret;
      this.$refs["SELECTED-SOCIETE" + this.societe.id].show();
      this.FetchData();
    },
  },
  components: {
    Button: () => import("@/components/Button.vue"),
    Input: () => import("@/components/Input.vue"),
    Error: () => import("@/components/Error.vue"),
    Loader: () => import("@/components/Loader.vue"),
  },
};
</script>
<style lang="scss">
.input-search-custom {
  width: 99%;
  background: #f2f0f07d;
  padding: 2.5px;
  border: 1px solid #d8d4d46b;
  border-radius: 5px 0px 0px 5px;
  padding-left: 6px;
}
.custom-card-conteur {
  background: #fafafaed;
  padding: 10px;
  margin: 4px 0px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
}
</style>
