<template>
  <div class="d-flex justify-content-center">
    <b-button
      class="btn btn-block btn-sm second-button center-button ml-10-p"
      style="float: right; margin-top: 12px"
      @click="handleFetchCompteur"
    >
      Compteurs
    </b-button>
    <b-modal
      :ref="'SELECTED-COMPTEUR' + this.societe.id"
      :id="'SELECTED-COMPTEUR' + this.societe.id"
      :hide-header="true"
      :hide-footer="true"
      @hidden="hideModal()"
      modal-class="cutsom-modal-bootstrap"
    >
      <div class="header mb-2">
        <div class="titleSetting">
          <div class="header-style"></div>
          Liste compteur par sociéte
        </div>
        <div>
          <i
            class="fas fa-solid fa-times"
            @click.prevent.stop="hideModal()"
          ></i>
        </div>
      </div>
      <hr />
      <form>
        <b-row class="mb-2">
          <b-col class="col-10"
            ><input
              type="input"
              v-model="SellectedSociete"
              class="input-search input-search-custom"
              placeholder="chercher"
          /></b-col>

          <b-col class="col-2">
            <Loader :show="loading" color="#ffcb35">
              <template v-slot:body>
                <b-button
                  class="btn btn-block btn-sm primary-button center-button ml-10-p"
                  style="float: right"
                  @click="FetchData"
                >
                  Rechercher
                </b-button></template
              ></Loader
            ></b-col
          >
        </b-row>

        <div
          v-for="(item, index) in compteurs"
          :key="index"
          class="mb-3 custom-card-conteur"
        >
          {{ item.numCompteur }}
        </div>
        <Error :errors="errorCompteurs" />
      </form>
    </b-modal>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "listCompteur",
  data() {
    return {
      loading: false,
      SellectedSociete: this.societe.siret,
    };
  },
  props: { societe: { required: true } },
  computed: {
    ...mapGetters(["errorCompteurs", "compteurs"]),
  },
  methods: {
    ...mapActions(["resetErrorCompteur", "getListeCompteurParSociete"]),
    openModal(ref) {
      if (this.$refs[ref]) {
        this.$refs[ref].show();
      }
    },
    resetData() {
      this.SellectedSociete = null;
    },
    hideModal() {
      this.$refs["SELECTED-COMPTEUR" + this.societe.id].hide();
      this.resetData();
    },

    async FetchData() {
      this.loading = true;
      await this.getListeCompteurParSociete(this.SellectedSociete);
      this.loading = false;
    },
    handleFetchCompteur() {
      this.SellectedSociete = this.societe.siret;
      this.$refs["SELECTED-COMPTEUR" + this.societe.id].show();
      this.FetchData();
    },
  },
  components: {
    Button: () => import("@/components/Button.vue"),
    Input: () => import("@/components/Input.vue"),
    Error: () => import("@/components/Error.vue"),
    Loader: () => import("@/components/Loader.vue"),
  },
};
</script>
<style lang="scss">
.input-search-custom {
  width: 99%;
  background: #f2f0f07d;
  padding: 2.5px;
  border: 1px solid #d8d4d46b;
  border-radius: 5px 0px 0px 5px;
  padding-left: 6px;
}
.custom-card-conteur {
  background: #fafafaed;
  padding: 10px;
  margin: 4px 0px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
}
</style>
