<template>
  <div>
    <b-table
      show-empty
      id="my-table"
      class="custom-table-style"
      :items="historiqueCompte"
      :fields="fields"
      bordered
      sticky-header
      responsive
      head-variant="light"
      empty-text="Il n'y a aucun enregistrement à afficher"
    ></b-table>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      fields: [
        {
          key: "siret",
          label: "Siret",
        },
        {
          key: "dateDebut",
          label: "Date Début",
        },
        {
          key: "dateFin",
          label: "Date Fin",
        },
        {
          key: "numCompteur",
          label: "Numéro Compteur",
        },
        {
          key: "Montant",
          label: "Montant",
        },
      ],
    };
  },
  computed: {
    ...mapGetters(["historiqueCompte"]),
  },
  methods: {
    ...mapActions(["getHistoriqueDeCalculeParCompte"]),
  },
  mounted() {
    this.getHistoriqueDeCalculeParCompte();
  },
};
</script>

<style></style>
