<template>
  <div class="app-wrap">
    <div id="nav">
      <SideBar />
    </div>
    <div>
      <div class="header">
        <div>
          <b-button
            class="btn btn-block btn-sm second-button center-button btn-logout"
            @click.prevent.stop="logout"
          >
            Déconnexion
          </b-button>
        </div>
      </div>
      <div class="main">
        <router-view />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      sidebarActive: true,
    };
  },
  components: {
    SideBar: () => import("@/components/SideBar.vue"),
  },
  methods: {
    toggleSidebar() {
      this.sidebarActive = !this.sidebarActive;
    },
    logout() {
      localStorage.clear();
      this.$router.push("/login");
    },
  },
};
</script>
