<template>
  <div>
    <b-button
      v-if="typeButton === 'submit'"
      :type="typeButton"
      :class="btnClass"
    >
      {{ textButton }}
    </b-button>
    <b-button
      v-else
      :type="typeButton"
      :class="btnClass"
      @click.prevent.stop="action"
    >
      {{ textButton }}
    </b-button>
  </div>
</template>

<script>
export default {
  name: "Button",
  props: {
    typeButton: {
      type: String,
      required: true,
    },
    btnClass: {
      type: String,
      default: "",
    },
    textButton: {
      type: String,
      required: true,
    },
  },
  methods: {
    action() {
      this.$emit("click");
    },
  },
};
</script>
