<template>
  <div>
    <b-overlay
      :show="show"
      rounded="lg"
      opacity="0.6"
      class="overlay-color"
      spinner-type="grow"
    >
      <slot name="body"></slot>
    </b-overlay>
  </div>
</template>
<script>
export default {
  name: "Loader",
  props: {
    show: {
      type: Boolean,
      required: true,
    },
    color: {
      type: String,
      required: true,
    },
  },
};
</script>

<style>
.overlay-color {
  color: #13698f;
}
</style>
