<template>
    <div class="search-component">
      <div class="search-content">
        <form>
          <div class="relative">
            <input
              type="search"
              v-model="searchTerm"
              class="input-search"
              placeholder="Chercher par siret"
              @input="handleInput"
            />
          </div>
        </form>
      </div>
    </div>
  </template>
  
  <script>
  export default {
    name : 'searchBar',
    data() {
      return {
        searchTerm: "",
      };
    },
    methods: {
      handleInput() {
        this.$emit("search", this.searchTerm);
      },
    },
  };
  </script>
  
  <style lang="scss" scoped>
  .search-component {
    display: flex;
    padding: 0.75rem;
    flex-direction: column;
    width: 100%;
    .search-content {
      overflow-x: auto;
      border-radius: 0.25rem;
    }
    .relative {
      position: relative;
    }
    .input-search {
      background-color: #f4f5f9;
      display: block;
      padding: 0.25rem;
      padding-left: 2.5rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      width: 100%;
      height: 2rem;
      border-radius: 0.25rem;
      border: none;
    }
  }
  input:focus {
    outline: none !important;
  }
  </style>
  