<template>
  <div>
    <nav class="navbar" :class="{ active: navbarActive }">
      <div class="navbar-container">
        <div class="navbar-logo-div">
          <h2>TEST VOLTO</h2>
        </div>
        <ul class="menu-list" v-for="(route, index) in routers" :key="index">
          <li class="menu-item">
            <router-link
              active-class="active-link"
              class="router-link--colored"
              :to="route.route"
              :key="index"
              ><i :class="route.icon"></i>{{ route.label }}</router-link
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  data() {
    return {
      navbarActive: true,
      routers: [
        {
          label: "Societés et compteurs",
          icon: "icon fas fa-solid fa-building",
          route: "/societe",
        },
        {
          label: "Calcule",
          icon: "icon fas fa-solid fa-calculator",
          route: "/Calcul",
        },

        {
          label: "Historique",
          icon: "icon fas fa-solid fa-history",
          route: "/historique-calcul",
        },
      ],
    };
  },
  methods: {
    toggleNavbar() {
      this.navbarActive = !this.navbarActive;
    },
  },
};
</script>

<style lang="scss">
.router-link--colored,
a.router-link--colored:hover {
  text-decoration-line: none;
  color: #fff;
}

.active-link {
  color: #ffcb35 !important;
}

.icon {
  color: #fff;
  padding-right: 10px;
}
button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/*navbar*/
.navbar {
  z-index: 2;
  width: 60px;
  max-width: 4rem;
  background-color: #103a5e;
  height: 100vh;
  position: fixed;
  display: flex;
  top: 0;
  padding-left: 10px;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.navbar .navbar-container {
  margin-top: -356px;
  //   padding: 1rem;
}

/*logo*/
.navbar .navbar-container .navbar-logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.7rem;
  /* padding-left: 1rem; */
}

.navbar .navbar-container .navbar-logo-div .navbar-toggler {
  transition: 0.2s ease-in-out;
}

.navbar .navbar-container .navbar-logo-div .navbar-toggler i {
  font-size: 1rem;
}

.navbar .navbar-container .navbar-logo-div .navbar-toggler:hover {
  color: #fff;
}

.navbar .navbar-container .navbar-logo-div .navbar-logo-link {
  display: none;
}

/*menu list*/
.navbar .menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.navbar .menu-list .menu-item {
  width: 100%;
}

.navbar .menu-list .menu-item .menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  transition: 0.2s ease-in-out;
  font-weight: 500;
  color: #fff;
}

.navbar .menu-list .menu-item .menu-link .menu-link-text {
  display: none;
  color: #fff;
}

.navbar .menu-list .menu-item .menu-link:hover,
.navbar .menu-list .menu-item .menu-link:hover {
  color: #fff;
}

/*navbar.active*/
/*navbar.active navbar*/
.navbar.active {
  width: 255px;
  max-width: 16%;
}

/*navbar.active logo*/
.navbar.active .navbar-container .navbar-logo-div {
  justify-content: space-between;
  padding-left: 1rem;
}

.navbar.active .navbar-container .navbar-logo-div .navbar-logo-link {
  display: block;
}

/*navbar.active search input*/
.navbar.active .navbar-search {
  background-position: 1rem 0.7rem;
  padding: 1rem;
  padding-left: 3rem;
}

.navbar.active #icon-search {
  top: 5.1rem;
  left: 1.6rem;
}

.navbar.active .navbar-search::placeholder {
  visibility: visible;
  opacity: 1;
}

/*navbar.active menu*/
.navbar.active .menu-list {
  padding-left: 1rem;
}

.navbar.active .menu-list .menu-item .menu-link {
  justify-content: flex-start;
}

.navbar.active .menu-list .menu-item .menu-link .menu-link-text {
  display: inline;
}

/*navbar.active user container*/
.navbar.active .user-container {
  justify-content: space-between;
  align-items: center;
}

.navbar.active .user-container .user-info {
  display: flex;
}

/*dashboard*/
.dashboard {
  width: auto;
  height: auto;
  margin-left: 5rem;
}

.navbar.active + .dashboard {
  margin-left: 22%;
}
</style>
