<template>
  <div class="societe-component">
    <div class="header-component">
      <b-row>
        <b-col>
          <h6>Liste des sociétés</h6>
        </b-col>
      </b-row>
      <b-row>
        <b-col class="col-6"> <SearchBar @search="handleSearch" /> </b-col>
        <b-col class="col-6 d-flex justify-content-end">
          <AddCompteur @reloadData="reloadData"></AddCompteur>
          <AddSociete @reloadData="reloadData"></AddSociete>
        </b-col>
      </b-row>
    </div>
    <div class="content-component">
      <b-table
        :style="sizeTable"
        show-empty
        id="my-table"
        class="custom-table-style"
        :items="societes"
        :fields="computedFields"
        bordered
        sticky-header
        responsive
        head-variant="light"
        empty-text="Il n'y a aucun enregistrement à afficher"
      >
        <template v-slot:cell(couleur)="data">
          <div
            :style="{
              backgroundColor: data.item.couleur,
              width: '0.5cm',
              height: '0.5cm',
              borderRadius: '50%',
              display: 'inline-block',
            }"
          ></div>
        </template>
        <template v-slot:cell(siret)="data">{{ data.item.siret }} </template>
        <template v-slot:cell(RaisonSocial)="data">
          {{ data.item.RaisonSocial }}</template
        >
        <template v-slot:cell(historique)="data" >
          <historique-societe v-if="data && data.item" :societe="data.item" />
        </template>
        <template v-slot:cell(compteur)="data">
          <selected-compteur  v-if="data && data.item" :societe="data.item" />
        </template>
      </b-table>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import SelectedCompteur from "./components/SelectedCompteur.vue";
export default {
  name: "Societe",
  computed: {
    ...mapGetters(["societes"]),
    computedFields() {
      let fields = [
        {
          key: "id",
          label: "#",
        },
        {
          key: "siret",
          label: "Siret",
        },
        {
          key: "RaisonSocial",
          label: "Raison Social",
        },
        {
          key: "historique",
          label: "Historique",
        },
        {
          key: "Compteur",
          label: "Compteur",
        },
      ];
      return fields;
    },
    sizeTable() {
      let hei = 215;
      return (
        "max-height : calc(100vh - " +
        `${hei}` +
        "px)!important ; height: calc(100vh - " +
        `${hei}` +
        "px)!important;"
      );
    },
  },
  methods: {
    ...mapActions(["getSocieteByCompte", "getSocieteBySiret"]),
    reloadData() {
      this.getSocieteByCompte();
    },
    handleSearch(search) {
      if (search == null || search == "") {
        this.reloadData();
      } else {
        this.getSocieteBySiret(search);
      }
    },
  },
  components: {
    Button: () => import("@/components/Button.vue"),
    SearchBar: () => import("@/components/SearchBar.vue"),

    AddSociete: () => import("./components/AddSociete.vue"),
    AddCompteur: () => import("./components/AddCompteur.vue"),
    historiqueSociete: () => import("./components/historiqueSociete.vue"),
    SelectedCompteur,
  },
  mounted() {
    this.reloadData();
  },
};
</script>

<style lang="scss"></style>
