:root {
  --primary-bg-color: #ffcb35;
  --primary-border-color: #ffcb35;
  --second-bg-color: #103a5e;
  --second-border-color: #103a5e;
  --global-font-family: "Poppins", sans-serif;
}
* {
  font-family: var(--global-font-family) !important;
}
.primary-button {
  background-color: var(--second-bg-color);
  border-color: var(--second-border-color);
}
.second-button {
  background-color: var(--primary-bg-color);
  border-color: var(--primary-border-color);
}
.center-button {
  align-items: center;
}
h2 {
  color: var(--primary-bg-color);
}
.primary-button:hover {
  background-color: var(--second-bg-color);
}

.second-button:hover {
  background-color: #ffcb35;
  border-color: #ffcb35;

}
input.form-control:hover {
  border-color: var(--second-border-color);
}

.form-control:focus {
  border-color: var(--second-border-color);
  box-shadow: none;
}

.container {
  .register-content {
    margin-top: 0% !important;
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 5px 12px #9799d67a;
    padding: 26px 0px;
  }
  .login-content {
    margin-top: 6% !important;
    background-color: white;
    border-radius: 25px;
    box-shadow: 5px 5px 12px #9799d67a;
    padding: 26px 0px;
  }
}
.content {
  height: 100vh;
  background-image: url("../assets/background_img.png");
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

.pt-8-p {
  padding-top: 8% !important;
}

h3 {
  text-align: center;
  color: #103a5e;
}

.ml-37-p {
  margin-left: 37% !important;
}
.ml-10-p {
  margin-left: 10px;
}
button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

.app-wrap {
  position: relative;
  height: 100%;
  width: 100%;

  margin: 0 auto;
  #nav::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  #nav::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #d0cddc;
    border-radius: 10px;
  }
  #nav::-webkit-scrollbar-thumb {
    background: #dadae4;
    border-radius: 5px;
  }
  #nav {
    position: absolute;
    width: 267px;
    height: 94%;
    border-radius: 0px 0px 27px 0px;
  }

  .header {
    height: 20px;
    padding-right: 12px;
    background-color: #ffffff;
    box-sizing: border-box;
    z-index: 7;
  }
  .main {
    margin: 16px;
    display: block;
    padding: 10px;
    height: calc(100vh - 98px);
    margin-left: 266px;
    margin-top: 36px;
    // overflow-y: auto;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    /* border-radius: 0 20px 20px 20px; */
    box-sizing: border-box;
    z-index: 7;
    /* box-shadow: -5px 5px 10px #00000017; */
  }
}

@media screen and (max-width: 768px) {
  .app-wrap {
    .header {
      .icon {
        background-color: transparent;
        float: left;
        display: block;
        border: none;
        height: 35px;
        width: 35px;
        color: #2dabe2;
        border-radius: 5px;
        outline: 0;
        &:hover {
          border-radius: 50%;
          background-color: rgba(219, 217, 217, 0.54);
        }
      }
    }
  }
}

.cutsom-modal-bootstrap {
  background-color: #4d4bac38;
  .header {
    display: flex;
    justify-content: space-between;
    .titleSetting {
      display: flex;
      color: #2a2a2a;
      font-weight: bold;
      // font-size: 15px;
      margin-left: 5%;
    }
    .iconClose {
      display: flex;
      color: #5d5d5d;
      position: relative;
      font-weight: 500;
      font-size: 16px;
      &:hover {
        color: #337896;
      }
    }
  }
  .modal_content {
    border-radius: 25px;
  }
}

.form {
  display: flex;
  padding-top: 1.25rem;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.custom-table-style {
  thead tr th {
    background-color: #f4f4f9 !important;
  }
  padding: 10px;
  td {
    color: #5d5d5d;
    font-size: 11px;
    font-weight: 400;
  }
  td,
  th {
    border: 1px solid white;
    vertical-align: middle !important;
    min-width: 143px;
    background-color: #fbfbfe;
  }

  thead,
  tbody {
    text-align: center;
  }

  .table.b-table > thead > tr > th {
    top: -10px;
    height: 35px;
  }
  thead {
    th {
      border: none;
    }
  }
  th {
    color: #2a2a2a;
    font-size: 11px;
    font-weight: 600 !important;
    border: 1px solid white;
    padding: 0px 5px;
  }
}
.custom-table-style::-webkit-scrollbar {
  width: 30px;
  height: 30px;
}
.custom-table-style::-webkit-scrollbar-thumb {
  background: #103a5e;
  border-radius: 15px;
  border: 12px solid transparent;
  background-clip: padding-box;
}
.custom-table-style::-webkit-scrollbar-track {
  background: #f0eef8;
  border-radius: 30px;
  width: 15px;
  border-right: 10px solid white;
  border-left: 10px solid white;
  border-bottom: 10px solid white;
  border-top: 10px solid white;
}

.vdp-datepicker__clear-button, .vdp-datepicker__calendar-button {
  cursor: pointer;
  font-style: normal;
  margin-left: 38px;
}


.active-link {
  color: red;
}

.btn-logout {
  float: right; margin-top: 12px
}