<template>
  <div class="content">
    <div class="container">
      <div class="row pt-8-p">
        <div class="col-md-7">
          <!-- <img src="@/assets/background.jpg" class="img-fluid" /> -->
        </div>
        <router-view />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "index",
  data() {
    return {};
  },
  methods: {
    toggleComponent() {
      this.displayLogin = !this.displayLogin;
    },
  },
};
</script>
