<template>
  <div class="col-md-5 mx-auto login-content">
    <div class="row justify-content-center">
      <div class="col-md-8 pt-12">
        <div class="mb-4">
          <h3>Login</h3>
        </div>
        <form @submit.prevent.stop="submitForm">
          <div v-for="(item, index) in inputs" :key="index" class="mb-3">
            <Input
              :labelText="item.labelText"
              :inputType="item.inputType"
              :inputValue="form[item.inputValue]"
              :inputClass="'form-control'"
              @changeValue="changeValue(index, $event)"
            />
          </div>
          <Error :errors="error" />
          <Loader :show="loading" :color="'#ffcb35'">
            <template v-slot:body>
              <Button
                :typeButton="'submit'"
                :textButton="'Login'"
                :btnClass="'btn btn-block primary-button center-button ml-37-p'"
              ></Button>
            </template>
          </Loader>
          <router-link
            class="d-block text-left my-4 text-muted text-center"
            :to="{ path: '/register' }"
          >
            Vous n'avez pas un compte ?
          </router-link>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "Login",
  data() {
    return {
      loading: false,
      error: null,
      form: {
        email: "",
        password: "",
      },
      inputs: [
        {
          labelText: "Adresse Mail",
          inputType: "text",
          inputValue: "email",
        },
        {
          labelText: "Mot de passe",
          inputType: "password",
          inputValue: "password",
        },
      ],
    };
  },
  methods: {
    ...mapActions(["login"]),
    changeValue(index, value) {
      this.form[this.inputs[index].inputValue] = value;
    },
    resetData() {
      this.error = null;
    },
    async submitForm() {
      this.resetData();
      const response = await this.login(this.form);
      this.error = response?.response?.login != true ? response?.response?.login : '';
    },
  },
  components: {
    Button: () => import("@/components/Button.vue"),
    Input: () => import("@/components/Input.vue"),
    Error: () => import("@/components/Error.vue"),
    Loader: () => import("@/components/Loader.vue"),
  },
};
</script>
