<template>
  <div class="calc">
    <div v-for="(item, index) in societes" :key="index" class="card-calcul">
      <span class="title"> {{ item.siret }}</span>
      <div class="body">
        <div>
          <span class="label"> Date début:</span>
          <Datepicker
            type="date"
            v-model="item.dateDebut"
            :clear-button="true"
            class="class-date-picker"
          ></Datepicker>
        </div>
        <div>
          <span class="label"> Date Fin :</span>
          <Datepicker
            type="date"
            v-model="item.dateFin"
            :clear-button="true"
            class="class-date-picker"
          ></Datepicker>
        </div>
        <span class="label"> Compteur:</span>
        <div>
          <b-form-select
            v-model="item.numCompteur"
            :options="item.compteurs"
            text-field="numCompteur"
            value-field="numCompteur"
            class="class-date-picker"
          ></b-form-select>
        </div>
      </div>
      <div v-if="alert && !index" class="alert-class">
        {{ alert }}
      </div>
      <div v-if="result && !index" class="alert-class">
        {{ result }}
      </div>
      <div>
        <b-button
          class="btn btn-block btn-sm primary-button center-button ml-10-p"
          style="float: right; margin-top: 12px"
          @click="handleClickCalcul(item)"
          :disabled="computedCheckDisabled(item)"
        >
          Calculer
        </b-button>
      </div>
      <span class="ticket">PDL {{ index + 1 }}</span>
    </div>
  </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";

import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      alert: null,
      result : null
    };
  },
  computed: {
    ...mapGetters(["societes"]),
    computedCheckDisabled() {
      return function (item) {
        if (
          item.dateDebut == null ||
          item.dateFin == null ||
          item.numCompteur == null
        ) {
          return true;
        }
        return false;
      };
    },
  },
  methods: {
    ...mapActions([
      "effectuerUnCalcule",
      "getSocieteByCompte",
      "getListeCompteurParSocieteCalcul",
    ]),
    async handleClickCalcul(item) {
      const response = await this.effectuerUnCalcule(item);
      if (response.success == true) {
        this.alert = response.response;
        this.result = response.result;

      }
    },
  },
  async mounted() {
    await this.getSocieteByCompte();
    this.societes.forEach((element) => {
      this.getListeCompteurParSocieteCalcul(element);
    });
  },
  components: {
    Datepicker,
  },
};
</script>

<style scoped lang="scss">
.alert-class {
  font-size: 10px;
  color : #ffcb35;
  text-align: center;
}
.calc::-webkit-scrollbar {
  width: 30px;
  height: 30px;
}
.calc::-webkit-scrollbar-thumb {
  background: #103a5e;
  border-radius: 15px;
  border: 12px solid transparent;
  background-clip: padding-box;
}
.calc::-webkit-scrollbar-track {
  background: #f0eef8;
  border-radius: 30px;
  width: 15px;
  border-right: 10px solid white;
  border-left: 10px solid white;
  border-bottom: 10px solid white;
  border-top: 10px solid white;
}
.calc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  height: calc(100vh - 124px);
  .card-calcul {
    width: 280px;
    // min-width: 320px;
    position: relative;
    background-color: #f6f5fb;
    box-shadow: -2px 0px 6px #00000017;
    border-radius: 13px;
    border: none;
    margin: 10px;
    padding: 10px;
    .title {
      font-size: 17px;
      font-weight: 800;
    }
    .body {
      background: white;
      border-radius: 5px;
      padding: 5px;
    }
    .ticket {
      position: absolute;
      bottom: 0px;
      width: 61px;
      color: white;
      background: #ffcb35;
      left: 0px;
      border-radius: 0px 5px;
      padding: 7px;
    }
  }
  .label {
    font-size: 10px;
  }
}
.class-date-picker {
  background: #f6f5fb;
  border-radius: 10px;
  margin-top: 4px;
  width: 100%;
  border-color: transparent;
}
</style>
